name: Build/release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup PNPM & Build Apps
        run: |
          npm install pnpm -g
          pnpm i
          pnpm electron:build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}
          path: |
            electron_packed/**/Panel2Re-*.exe
            electron_packed/**/Panel2Re-*.zip
            electron_packed/**/Panel2Re-*.dmg
            electron_packed/**/Panel2Re-*.AppImage
            electron_packed/**/latest*.yml

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download
        uses: actions/download-artifact@v4
        with:
          path: ./dist/
          pattern: artifact-*
          merge-multiple: true

      - name: Display structure of downloaded files
        run: ls -R ./dist/
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/*/*
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
